.result-button {
    background: transparent;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 50px;
    position: relative;
}

.result-button:before {
    transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
    content: '';
    width: 1%;
    height: 100%;
    background: #2F6D80;
    position: absolute;
    top: 0;
    left: 0;
}

.result-button span {
    mix-blend-mode: darken;
}

.result-button:hover:before {
    background: #2F6D80;
    width: 100%;
}

.btn-login span {
    z-index: 20;  
}

.btn-login {
    border: 2px solid white;
    background: #2F6D80;
    color: white;
    padding: 15px 50px;
    outline: none;
    overflow: hidden;
    position: relative;
  }
  
.btn-login:after {
    content: '';
        display: block;
        position: absolute;
        top: -36px;
        left: -100px;
        background: white;
        width: 50px;
        height: 125px;
        opacity: 20%;
        transform: rotate(-45deg);
}

.btn-login:hover:after {
    left: 120%;
    transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
        -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}

.btn-signup span {
    z-index: 20;  
}

.btn-signup {
    border: 2px solid #2F6D80;
    background: transparent;
    color: #2F6D80;
    padding: 15px 50px;
    outline: none;
    overflow: hidden;
    position: relative;
  }
  
.btn-signup:after {
    content: '';
        display: block;
        position: absolute;
        top: -36px;
        left: -100px;
        background: #2F6D80;
        width: 50px;
        height: 125px;
        opacity: 20%;
        transform: rotate(-45deg);
}

.btn-signup:hover:after {
    left: 120%;
    transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
        -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}