{% extends 'base.html' %}
{% block meta %}
<title>Login</title>
{% endblock meta %}
{% block content %}
<div class = "container" style="display: flex; justify-content: center; align-items: center; height: 600px; margin-bottom: -50px;">
    <div class="row gx-5 justify-content-center">
        <div class = "login">
            <h1 style="text-align: center;">Login</h1>
            <form class="inline" method="POST" action="" style="max-width: max-content;">
                {% csrf_token %}   
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" class="form-control">
    
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" class="form-control">
    
                <input class="btn btn-primary login-btn" type="submit" value="Login">
            </form>
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %} 
            <p style="text-align: center;">Don't have an account yet? <a href="{% url 'authentications:register' %}">Create account</a></p>

        </div>
    </div>
</div>
{% endblock content %}          


<style>
    li {
        color: green;
    }
    .loginss {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 400px;
        }
    .login-btn {
        background-color: #2B4560;
        border:none;
        margin-top: 10px;
        margin-bottom: 16px;
        padding: 6px 170px 10px 170px;
        width: 100%;
    }

    .login-btn:hover {
        background-color: #22364b;
    }
    
    @media screen and (max-width: 600px) {
          .login {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 90%;
          }
    }
        
    </style>







{% extends 'base.html' %}
{% block meta %}

<title>Sign Up/title>
{% endblock meta %}

{% block content %}
<div style="background-color:#E1E7E0">
    <div class="container">
        <div class="register position-absolute top-50 start-50 translate-middle">
        
            <h2 style="text-align: center; margin-bottom: 20px;">Sign Up</h2>  
                
            <form method="POST">  
                {% csrf_token %}  
    
                <table>
                    {% for field in form %}
                
                    <tr><td>{{ field.label_tag }}</td></tr>
                    <tr><td>{{ field }}</td></tr>
                    <tr><td>{{ field.errors }}</td></tr>
                    
                    {% endfor %}
                </table>
                <input class="btn btn-primary create-btn" type="submit" name="submit" value="Create account"/>
            </form>
                
            <p style="text-align: center;">Already have an account? <a href="{% url 'authentications:login' %}">Login</a></p>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        
        </div>  
    </div>
</div>


<style>
    li {
        color: red;
    }
    .form {
    justify-content: center;
    align-items: centerS;
    }

    .registers {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    }

    input, textarea {
    width: 100%;
    margin: 0.1rem 0 0.2rem 0;
    padding: 5px 185px 5px 12px;
    }

    .create-btn {
    background-color: #2B4560;
    border:none;
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 6px 140px 10px 140px;
    width: 100%;
    }

    .create-btn:hover {
        background-color: #22364b;
    }

    @media screen and (max-width: 600px) {
      .register {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
      }

    }
</style>
    {% endblock content %}