{% extends 'base.html' %}
{% block meta %}

<title>Sign Up/title>
{% endblock meta %}

{% block content %}
<div>
    <div class="vh-100 d-flex justify-content-center align-items-center" style="margin-bottom: -50px; margin-top: 50px;">
        <div class="col-md-4 rounded-3">
            <h2 style="text-align: center; margin-bottom: 20px;">Sign Up</h2>  
                
            <form method="POST">  
                {% csrf_token %}  
    
                <table style="width: 100%;">
                    {% for field in form %}
                
                    <tr><td>{{ field.label_tag }}</td></tr>
                    <tr><td>{{ field }}</td></tr>
                    <tr><td>{{ field.errors }}</td></tr>
                    
                    {% endfor %}
                </table>
                <input class="btn btn-primary create-btn" type="submit" name="submit" value="Create account"/>
            </form>
                
            <p style="text-align: center;">Already have an account? <a href="{% url 'authentications:login' %}">Login</a></p>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        
        </div>  
    </div>
</div>


<style>
    li {
        color: red;
    }
    .form {
    justify-content: center;
    align-items: centerS;
    }

    .registers {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    }

    input, textarea {
    width: 100%;
    margin: 0.1rem 0 0.2rem 0;
    padding: 5px 185px 5px 12px;
    }

    .create-btn {
    background-color: #2B4560;
    border:none;
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 6px 140px 10px 140px;
    width: 100%;
    }

    .create-btn:hover {
        background-color: #22364b;
    }

    @media screen and (max-width: 600px) {
      .register {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
      }

    }
</style>
    {% endblock content %}