{% extends 'nav.html' %}
  {% if user.is_authenticated %}
  {% block content %}
  {% endblock content%}
  {% else %}
    <div class="d-flex mb-4">
        <!-- Parent comment-->
        <div class="flex-shrink-0" style="margin:20px 10px 20px 15px "><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
        <div class="ms-3">
            <div class="h6 fw-bolder" style="margin:20px 0px">Silahkan <a href="/authentications/login">Login</a> untuk memberikan komentar</div>
        </div>
    </div>
{% endif %}


  {% block script %}
  {% endblock %}